# IDE
.idea

# docker
docker-compose.yml

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Unit test / coverage reports
htmlcov/
.pytest_cache
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# mypy
.mypy_cache/

# django
*.log
.media/
local_settings.py
*.sqlite3

# celery
celerybeat.pid
celerybeat-schedule

# pyenv
venv
.python-version
.env
.envrc
.env.leave

.DS_Store
.vscode/
